<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Xin chào <%= name %></p>
    <ul>
    <%    for (const property in noidung) { 
      <li> <%= property %></li>
     }     %>
    </ul>
   
  </body>
</html>
